
*.log
JavaStudy/.metadata/.lock
*.zip
JavaStudy/.metadata/.mylyn/.taskListIndex/segments_1
*.dat
*.dat
*.dat
JavaStudy/.metadata/.plugins/org.eclipse.core.resources/.projects/2-1/org.eclipse.jdt.core/state.dat
JavaStudy/myProject/src/myProject/Main.java
