@media screen and (max-width: 479px) {

      .test{
          margin: auto;
      }

      .clearfix::after {
        content: '';
        display: block;
        clear: both;
      }
      .content{
        width: 200px;
      }
      
      .header {
        width: 200px;
        height: 200px;
      }
    
      .header-box1{
        width: 40px;
        height: 40px;
        top: 20px;
        right: 70px;
        box-sizing: content-box;
      }
    
      .header-box2{
         width: 40px;
        height: 40px;
        top: 70px;
        right: 70px;
        box-sizing: content-box;
        position: absolute;
      }
    
      .header-box3{
        width: 40px;
        height: 40px;
        top: 120px;
        right: 70px;
        box-sizing: content-box;
        position: absolute;
      }    
      .main-box1{
        width: 140px;
        height: 40px;
        top: 0;
        right: 0;
        margin: auto;
        margin-top: 20px;
        position: relative;
      }
    
      .main-box2{
        width: 140px;
        height: 40px;
        top: 0;
        right: 0;
        margin: auto;
        margin-top: 10px;
        position: relative;
      }
    
      .main-box3{
        width: 140px;
        height: 40px;
        top: 0;
        right: 0;
        margin: auto;
        margin-top: 10px;
        position: relative;
      } 
      
      .left {
        width: 200px;
        height: 100px;
        background-color: #80bfa8;
        float: left;
      }
      
      .main-content {
        width: 200px;
        height: 210px;
        float: right;
        background-color: #8c2727;
        position: relative;
      }
      
      .main-content-top{
        width: 150px;
        height: 50px;
        background-color: #dbd400;
        float: left;
      }
      
      .main-content-center{
        width: 150px;
        height: 100px;
        background-color: #0093b7;
        float: left;
      }
      
      .main-content-right{
        width: 100px;
        height: 150px;
        float: right;
      }
      
      .main-content-bottom{
        width: 250px;
        height: 100px;
        float: left;
      }
      
      .footer {
        width: 200px;
      }
      
}